/*--------------------------------------------------animation custom--------------------------------------------------*/
@keyframes animEntry { from { opacity: 0; transform: translateY(-30px); } to { opacity: 1; transform: translateY(0); }}/*animation soft displacement to init()*/
/*fix transition login-register*/
.mainContainer.active .registerContainer{transform: translate(-50%); border-radius: 150px; box-shadow: 0 -5px 10px rgba(0,0,0,0.3);}
.mainContainer.active{height: 65%;}
.mainContainer.active .registerContainer header{transform: scale(1.1); opacity: 1;}
.mainContainer.active .signContainer header{transform: scale(0.9); opacity: 0.6;}
.mainContainer.active .signContainer header:hover{transform: scale(1);}
/*--------------------------------------------------Generaly--------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
/*--------------------------------------------------styles for containers--------------------------------------------------*/
.mainContainer{
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 300px;
    opacity: 0;
    padding: 8px 30px 120px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(50, 0, 50, 0.3),rgba(80, 0, 80, 0.9),rgb(100, 30, 100),rgb(130, 50, 130),rgb(150, 80, 150));
    transition: height 0.7s ease;
}.mainContainer.loaded {
    animation: animEntry 2s ease; /*AC #201*/
    opacity: 1;
}
.registerContainer{
    position: absolute;
    top: 0;
    left: 50%;
    height: 125%;
    width: calc(100% + 125px);
    padding: 7px 100px;
    border-radius: 200px;
    background: linear-gradient(to bottom,rgb(250, 250, 250),rgb(245, 240, 245),rgb(245, 235, 245),rgb(240, 230, 240),rgb(230, 210, 230),rgb(225, 190, 225),rgb(200, 135, 245));
    transform: translate(-50%, 70%);
    transition: transform 0.7s ease, border-radius 0.7s ease, box-shadow 0.7s ease;
}
/*--------------------------------------------------custom header--------------------------------------------------*/
header{
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 36px;
    height: 7vh;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}.registerContainer header{
    color: #333;
    opacity: 0.6;
    transform: scale(0.9);
}.registerContainer header:hover{
    transform: scale(1);
}
/*--------------------------------------------------form container--------------------------------------------------*/
.mainContainer form,
.registerContainer form,
.select-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/*--------------------------------------------------input, select--------------------------------------------------*/
form input,
.input-box-login,
.input-box-register,
.select-menu .select-btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    border-radius: 8px;
}

/*fix inputs (generaly)*/
input,
.input-box-login,
.input-box-register,
.select-menu .select-btn{
    height: 6vh;
    width: calc(100% - 10%);
    transition: transform 0.3s ease, font-size 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease ;
}
.classic-input:hover,
.input-box-login:hover,
.input-box-register:hover,
.select-menu .select-btn:hover{
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
.input-box-login:hover #password-login,
.input-box-register:hover #password-register{
    font-size: 18px;
}

/*fix inputs (login)*/
.signContainer input,
.input-box-login{
    color: #ddd2d2;
    background-color: rgba(5, 7, 12, 0.2);
}
.signContainer input:hover,
.input-box-login:hover{
    background-color: rgba(5, 7, 12, 0.1);
}

/*fix inputs (register)*/
.registerContainer input,
.input-box-register,
.select-menu .select-btn{
    background-color: #fdfdfd;
}

/*fix inputs (ComboBox)*/
.select-menu{
    width: 100%;
    gap: 0;
}.select-menu .select-btn{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    justify-content: space-between;
    cursor: pointer;    
}.select-menu .btn-text{
    color: #dddddd;
}.select-menu .select-btn i{
    font-size: 25px;
}.select-menu.viewOptions .options{
    display: block;
}

.select-menu .options{
    display: none;
    position: relative;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0, 0.1);
}.options .option{
    display: flex;
    padding: 5px 20px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    cursor: pointer;
}.options .option:hover{
    background: #fafafa;
}.option i{
    margin-right: 15px;
    font-size: 25px;
}

.separator{
    position: relative;
    height: 1px;
    width: 100%;
    justify-content: center;
    background-color: #eeeeee;
}

/*eyeIcon*/
.input-box-login,
.input-box-register{
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}
#password-login,
#password-register{
    margin-left: 0%;
    border: 0;
    background: rgba(0, 0, 0, 0);
}
.input-box-login:hover img,
.input-box-register:hover img{
    opacity: 1;
}
img{
    margin-right: 0px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
}
/*--------------------------------------------------buttons--------------------------------------------------*/
form .button{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 6vh;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    margin-left: calc(100% - 75%);
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 8px;
    transition: transform 0.5s ease, font-size 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}form .button::before{
    content: "";
    position: absolute;
    height: 200%;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.7s ease;
}

.signContainer .button{/*fix buttons (login)*/
    color: rgb(230, 200, 230);
    background: linear-gradient(to bottom, rgba(159, 0, 93, 0.5),rgba(159, 0, 110, 0.5),rgba(159, 0, 135, 0.5),rgba(159, 0, 150, 0.5),rgba(159, 0, 165, 0.5),rgba(159, 0, 180, 0.5),rgba(159, 0, 200, 0.5),rgba(159, 0, 220, 0.5),rgba(159, 0, 240, 0.5));
    transform: scale(1);
}.signContainer .button:hover{
    transform: scale(1.1);
    font-size: 20px;
    color: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}.signContainer .button::before{
    border-radius: 80% 80% 0 0;
    background: linear-gradient(to bottom, rgba(159, 0, 240, 0.3),rgba(165, 20, 240, 0.3),rgba(175, 40, 241, 0.3),rgba(185, 60, 244, 0.3),rgba(195, 80, 245, 0.3),rgba(205, 100, 247, 0.3),rgba(215, 120, 248, 0.3),rgba(225, 140, 250, 0.3),rgba(235, 160, 252, 0.3),rgba(245, 180, 253, 0.3),rgba(255, 200, 254, 0.3),rgba(255, 220, 255, 0.3),rgba(255, 240, 255, 0.3),rgba(255, 255, 255, 0.3));
    transform: translateY(100%);/*translate filter to down*/
}.signContainer .button:hover::before{
    transform: translateY(-40%);
}

.registerContainer .button{/*fix buttons (register)*/
    padding: 0;
    color: rgb(193, 113, 255);
    background: linear-gradient(to bottom, rgb(213, 162, 255),rgb(230, 201, 255),rgb(234, 213, 252),rgb(243, 228, 255));
    transform: scale(1);
}.registerContainer .button:hover{
    transform: scale(1.1);
    font-size: 19px;
    color: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}.registerContainer .button::before{
    border-radius: 0 0 80% 80%;
    background: linear-gradient(to bottom, rgba(159, 0, 11, 0.5),rgba(111, 0, 229, 0.5),rgba(0, 235, 252, 0.5),rgba(0, 228, 42, 0.5),rgba(225, 255, 0, 0.5));
    transform: translateY(-100%);/*translate filter to up*/
}.registerContainer .button:hover::before{
    transform: translateY(0);
}
/*--------------------------------------------------text, link--------------------------------------------------*/
.signContainer button[type="button"]{
    border: none;
    text-align: center;
    margin-left: calc(100% - 80%);/*translate to left - relation: this ++1, width --2*/
    width: calc(100% - 40%);/*translate to rigth - relation: this --2, margin-left ++1*/
    font-size: 15px;
    color: rgb(205, 170, 205);
    background: rgba(0, 0, 0, 0);
    transition: transform 0.3s ease;
}.signContainer button[type="button"]:hover{
    transform: scale(1.1);
}

.registerContainer label{
    font-size: 18px;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 40%;
    font-weight: 400;
}
/*--------------------------------------------------media query (responsive)--------------------------------------------------*/
@media (min-width: 720px) {.mainContainer{width: 42vw; max-width: 400px;}}
@media (min-height: 1000px) {.mainContainer.active .registerContainer{transform: translate(-50%, 7%);}}
/* @media (max-height: 1000px) {.mainContainer.active .registerContainer{transform: translate(-50%, 8%);}}
@media (max-height: 850px) {.mainContainer.active .registerContainer{transform: translate(-50%, 11%);}}
@media (max-height: 750px) {.mainContainer.active .registerContainer{transform: translate(-50%, 12%);} .mainContainer form{padding: 5px 0;} .mainContainer.active{height: 65%;}}
@media (max-height: 650px) {.mainContainer.active .registerContainer{transform: translate(-50%, 13%);} .mainContainer form{padding: 10px 0;} .mainContainer.active{height: 70%;}} */
/* @media (max-height: 600px) {.registerContainer{transform: translate(-50%, 80%);} .mainContainer{height: 300px;}}convert to static */
/* @media (max-height: 550px) {.mainContainer.active .registerContainer{transform: translate(-50%, 14%);} .mainContainer form{padding: 20px 0;} .mainContainer.active{height: 400px;} input, select, .input-box-login, .input-box-register, form .button{height: 35px;}} */
@media (max-height: 600px) {.registerContainer{transform: translate(-50%, 65%);} .mainContainer{height: 300px;}}/*convert to static*/
@media (min-height: 300px) {.mainContainer.active .registerContainer{transform: translate(-50%, 14%);} .mainContainer form{padding: 20px 0;} .mainContainer.active{height: 500px;} input, select, .input-box-login, .input-box-register, form .button{height: 35px;}}
