*{
 margin: 0;   
 padding: 0;
}body{
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../components/images/background_session.webp');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}