@keyframes load_1{ 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}/*anim load*/
@keyframes load_2{ 0% { transform: rotate(0deg); } 100% { transform: rotate(-360deg); }}
.customAlert{border-radius: 20px; background: linear-gradient(to top left,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));}

.loadContainer{
    position: fixed;
    display: flex;
    justify-content: center;/*align x*/
    align-items: center;/*align y*/
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.7s ease;
}.load{
    position: relative;
    width: 60px;
    height: 60px;
}.load .frame_1{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #c258ff;
    border-left-color: transparent;
    border-bottom: none;
    border-radius: 50%;
    animation: load_1 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}.load .frame_2{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #da9aff;
    border-top-color: transparent;
    border-right: none;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: load_2 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}.show{ opacity: 1; z-index: 999; }/*class setVisible*/

.box-input-password{/*eyeIcon*/
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}#password-login, #password-register{/*AC #211*/
    margin-left: 0%;
    border: 0;
    background: rgba(0, 0, 0, 0);
}.box-input-password:hover img{
    opacity: 1;
}img{
    margin-right: 0px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
}
/*--------------------------------------------------resetPassword--------------------------------------------------*/
#resetPassword_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}