/*--------------------------------------------------animation custom--------------------------------------------------*/
@keyframes animEntry { from { opacity: 0; transform: translateY(-30px); } to { opacity: 1; transform: translateY(0); }}/*animation soft displacement to init()*/
@keyframes load_1{ 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}/*anim load*/
@keyframes load_2{ 0% { transform: rotate(0deg); } 100% { transform: rotate(-360deg); }}
@keyframes addSpawn{ from { opacity: 0; } to { opacity: 1; }}/*softSpawn load*/
@keyframes removeSpawn{ from { opacity: 1; } to { opacity: 0; }}

/*fix load animation*/
.loadContainer{
    position: fixed;
    display: none;
    justify-content: center;/*align x*/
    align-items: center;/*align y*/
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}.load{
    position: relative;
    width: 60px;
    height: 60px;
}.load .frame_1{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #c258ff;
    border-left-color: transparent;
    border-bottom: none;
    border-radius: 50%;
    animation: load_1 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}.load .frame_2{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #da9aff;
    border-top-color: transparent;
    border-right: none;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: load_2 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}

/*fix transition login-register*/
.mainContainer.active .registerContainer{
    bottom: -14%;
    border-radius: 200px;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}.mainContainer.active{
    height: 450px;
}.mainContainer.active .registerContainer header{
    font-size: 34px;
    opacity: 1;
}.mainContainer.active .signContainer header{
    font-size: 30px;
    opacity: 0.6;
}.mainContainer.active .signContainer header:hover{
    font-size: 34px;
}

/*class setVisible*/
.hide{ display: none; }
.show{ display: flex; }
.onSoft{ animation: addSpawn 0.7s ease; opacity: 1; }
.offSoft{ animation: removeSpawn 0.7s ease; opacity: 0; }
/*--------------------------------------------------Generaly--------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*--------------------------------------------------styles for containers--------------------------------------------------*/
.mainContainer{
    position: relative;
    opacity: 0;
    width: 400px;
    height: 400px;
    padding: 8px 30px 120px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, 
                                rgba(50, 0, 50, 0.3),
                                rgba(80, 0, 80, 0.9),
                                rgb(100, 30, 100),
                                rgb(130, 50, 130),
                                rgb(150, 80, 150));
    transition: height 0.7s ease;
}.mainContainer.loaded {
    animation: animEntry 2s ease; /*AC #201*/
    opacity: 1;
}

.registerContainer{
    position: absolute;
    left: 50%;
    bottom: -85%;
    height: 100%;
    width: calc(100% + 180px);
    padding: 5px 140px;
    background: linear-gradient(to bottom,
                                rgb(250, 250, 250),
                                rgb(245, 240, 245),
                                rgb(245, 235, 245),
                                rgb(240, 230, 240),
                                rgb(230, 210, 230),
                                rgb(225, 190, 225),
                                rgb(200, 135, 245),
                                rgb(180, 70, 245));
    border-radius: 300px;
    transform: translateX(-50%);
    transition: bottom 0.7s ease, 
                border-radius 0.7s ease,
                box-shadow 0.7s ease;
}

/*--------------------custom header--------------------*/
.signContainer header, .registerContainer header{
    text-align: center;
    font-size: 34px;
    height: 9vh;
    width: calc(100% - 50%);
    margin-left: calc(100% - 75%);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}.registerContainer header{
    font-size: 30px;
    width: calc(100% - 45%);
    margin-left: calc(100% - 77.5%);
    color: #333;
    opacity: 0.6;
}.registerContainer header:hover{
    font-size: 34px;
}

/*--------------------custom form of container--------------------*/
.mainContainer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: calc(100% - 105%);
}.registerContainer form{
    margin-top: calc(100% - 110%);
    gap: 4px;
}

/*--------------------inputs and select--------------------*/
form input, form select, .input-box-login, .input-box-register{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    border: 1px solid #aaa;
    border-radius: 8px;
}form input:hover, form select:hover, .input-box-login:hover, .input-box-register:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.signContainer input, .input-box-login{
    height: 6vh;
    width: calc(100% - 10%);
    margin-left: calc(100% - 95%);
    color: #ddd2d2;
    border: 1px solid rgba(5, 7, 12, 0.1);
    background: rgba(5, 7, 12, 0.2);
    transition: 0.3s ease;
}.signContainer input[type="email"]:hover, .input-box-login:hover{
    font-size: 18px;
    height: 7vh;
    width: calc(100% - 5%);
    margin-left: calc(100% - 97.5%);
    margin-top: -2.5px;
    margin-bottom: -6.5px;
    border: 1px solid rgba(40, 5, 40, 0.9);
    background: rgba(5, 7, 12, 0.1);
}.input-box-login:hover{
    margin-top: -6.5px;
    margin-bottom: -2.5px;
}.signContainer input::placeholder{
    color: #909090;
}

.input-box-login{/*eyeIcon-login*/
    display: flex;
    align-items: center;
    padding: 0px 0px;
}.signContainer #password-login{
    margin-left: 0%;
    border: 0;
    background: #00000000;
}.signContainer #password-login:hover{
    height: 7vh;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
}.input-box-login img{
    margin-right: 9px;
    width: 20px;
    cursor: pointer;
}

.registerContainer input, .registerContainer select, .input-box-register{
    height: 5vh;
    width: calc(100% - 5%);
    margin-left: calc(100% - 97.5%);
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 248, 255);
    transition: 0.3s ease;
}.registerContainer select{
    margin-top: -10px;
    padding: 10px 15px;
}.registerContainer input:hover, .registerContainer select:hover, .input-box-register:hover{
    font-size: 18px;
    height: 5.5vh;
    width: calc(100% - 2.5%);
    margin-left: calc(100% - 98.75%);
    border: 1px solid rgb(190, 90, 190);
}.registerContainer input:hover, .input-box-register:hover{
    margin-top: -2.37px;
    margin-bottom: -2.37px;
}.registerContainer select:hover{
    margin-bottom: -4.5px;
}

.input-box-register{/*eyeIcon-register*/
    display: flex;
    align-items: center;
    padding: 0px 0px;
}.registerContainer #password-register{
    margin-left: 0%;
    border: 0;
    background: #00000000;
}.registerContainer #password-register:hover{
    height: 5.5vh;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
}.input-box-register img{
    margin-right: 9px;
    width: 20px;
    cursor: pointer;
}
/*--------------------link text--------------------*/
.signContainer button[type="button"]{
    color: #333;
    margin-top: -5px;
    margin-left: calc(100% - 80%);/*translate to left - relation: this ++1, width --2*/
    width: calc(100% - 40%);/*translate to rigth - relation: this --2, margin-left ++1*/
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: rgb(205, 170, 205);
    border: none;
    background: rgba(0, 0, 0, 0);
    transition: font-size 0.3s ease;
}.signContainer button[type="button"]:hover{
    font-size: 16px;
}

.registerContainer label{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}
/*--------------------buttons--------------------*/
form .button{
    margin-top: 15px;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.signContainer .button{
    font-size: 18px;
    height: 6vh;/*7vh*/
    width: calc(100% - 50%);
    margin-left: calc(100% - 75%);
    color: rgb(230, 200, 230);
    border: 1px solid rgb(135, 100, 135, 0.5);
    background: linear-gradient(to bottom,
                                rgb(110, 60, 110),
                                rgb(120, 80, 120),
                                rgb(135, 100, 135),
                                rgb(150, 120, 150),
                                rgb(175, 140, 175),
                                rgb(190, 190, 190));
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
}.signContainer .button:hover{
    font-size: 20px;
    height: 6.5vh;/*8vh*/
    width: calc(100% - 40%);
    margin-left: calc(100% - 80%);
    margin-bottom: -4px;
    color: #000;
    border-radius: 0px;
    border-image: linear-gradient(to top, 
                        rgba(159, 0, 11),
                        rgba(111, 0, 229),
                        rgba(0, 235, 252))1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}.signContainer .button::before{
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0 0 20% 20%;
    background: linear-gradient(to bottom, 
                            rgba(159, 0, 11, 0.5),
                            rgba(111, 0, 229, 0.5),
                            rgba(0, 235, 252, 0.5),
                            rgba(0, 228, 42, 0.5),
                            rgba(225, 255, 0, 0.5));
    transition: height 0.5s ease;
}.signContainer .button:hover::before{
    height: 180%;
}

.registerContainer .button{
    font-size: 17px;
    height: 5vh;
    width: calc(100% - 50%);
    margin-left: calc(100% - 75%);
    color: rgb(193, 113, 255);
    border: 2px solid rgb(208, 146, 255);
    background: linear-gradient(to bottom, 
                                rgb(213, 162, 255),
                                rgb(230, 201, 255),
                                rgb(234, 213, 252),
                                rgb(243, 228, 255));
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
}.registerContainer .button:hover{
    font-size: 20px;
    height: 6vh;
    width: calc(100% - 40%);
    margin-left: calc(100% - 80%);
    color: #000;
    margin-bottom: -6px;
    border-radius: 0px;
    border-image: linear-gradient(to top, 
                        rgba(159, 0, 11),
                        rgba(111, 0, 229),
                        rgba(0, 235, 252))1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}.registerContainer .button::before{
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0 0 20% 20%;
    background: linear-gradient(to bottom, 
                            rgba(159, 0, 11, 0.5),
                            rgba(111, 0, 229, 0.5),
                            rgba(0, 235, 252, 0.5),
                            rgba(0, 228, 42, 0.5),
                            rgba(225, 255, 0, 0.5));
    transition: height 0.5s ease;
}.registerContainer .button:hover::before{
    height: 180%;
}

/*loader*/
