@keyframes load_1{ 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}/*anim load*/
@keyframes load_2{ 0% { transform: rotate(0deg); } 100% { transform: rotate(-360deg); }}
.loadContainer{
    position: fixed;
    display: flex;
    justify-content: center;/*align x*/
    align-items: center;/*align y*/
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.7s ease;
}.load{
    position: relative;
    width: 60px;
    height: 60px;
}.load .frame_1{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #c258ff;
    border-left-color: transparent;
    border-bottom: none;
    border-radius: 50%;
    animation: load_1 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}.load .frame_2{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #da9aff;
    border-top-color: transparent;
    border-right: none;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: load_2 1s cubic-bezier(0.40, 0.61, 0.58, 0.41) infinite;
}.show{ opacity: 1; z-index: 999; }/*class setVisible*/